.examples {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h2 {
  margin-top: 75px;
  border-bottom: 3px dashed gray;
}

h1 + h2 {
  margin-top: 10px;
}

h3 {
  border-bottom: 2px dashed lightgray;
}
