<div class="examples">

    <h1>Examples</h1>

    <h2>Simple rating</h2>
    <div>
        <app-rating></app-rating>
    </div>
    <div>
        <app-rating rating=1></app-rating>
    </div>
    <div>
        <app-rating rating=1></app-rating>
    </div>
    <div>
        <app-rating rating=3.7></app-rating>
    </div>
    <div>
        <app-rating rating=5.01></app-rating>
    </div>

    <h2>Setting custom colors</h2>
    <div>
        <app-rating rating=3.6 fillColor="lightgray"></app-rating>
    </div>
    <div>
        <app-rating rating=3.6 fillColor="blue" strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=3.6 fillColor="orange" strokeColor="#ff5e00"></app-rating>
    </div>

    <h2>Changing Max Rating</h2>
    <div>
        <app-rating rating=2.2 maxRating=3></app-rating>
    </div>
    <div>
        <app-rating rating=6.5 maxRating=10></app-rating>
    </div>
    <div>
        <app-rating rating=8.1 maxRating=15></app-rating>
    </div>

    <h2>Changing Star Size</h2>
    <h3>Size of 15 pixels</h3>
    <div>
        <app-rating rating=2.5 starSize=15 maxRating=3></app-rating>
    </div>
    <div>
        <app-rating rating=2.2 starSize=15></app-rating>
    </div>
    <h3>Size of 50 pixels</h3>
    <div>
        <app-rating rating=2.4 starSize=50 maxRating=3></app-rating>
    </div>
    <div>
        <app-rating rating=3.8 starSize=50></app-rating>
    </div>

    <h2>Changing Stroke Width</h2>
    <div>
        <app-rating rating=3.7 strokeWidth=5 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=1 strokeWidth=5 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=3.7 strokeWidth=15 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=1 strokeWidth=15 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=3.7 strokeWidth=25 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=1 strokeWidth=25 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=3.7 strokeWidth=35 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=1 strokeWidth=35 strokeColor="black"></app-rating>
    </div>

    <div>
        <app-rating rating=3.7 strokeWidth=10 starSize=75 strokeColor="black"></app-rating>
    </div>
    <div>
        <app-rating rating=3.7 strokeWidth=30 starSize=75 strokeColor="black"></app-rating>
    </div>

    <h2>More...</h2>
    <div style="display: flex; width: 620px; justify-content: space-between;">
        <app-rating rating=3.7 starSize=40 strokeColor="black"></app-rating>
        <img src="https://image.flaticon.com/icons/png/128/124/124027.png" height="40px">
        <app-rating rating=1.3 starSize=40 strokeColor="black"></app-rating>
    </div>

</div>
